<p-card header="header">
  <p class="font-bold w-10"> Content goes here </p>

  <div class="flex border-bottom-1 surface-border w-full mb-5">
    <p class="font-bold mr-3 text-blue-500 w-2">font-bold</p>
    <p class="font-bold w-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class="field grid mb-5">
    <label for="firstname3" class="col-fixed" style="width:100px">Firstname</label>
    <div class="col mb-5">
      <input id="firstname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
    </div>
  </div>
  <div class="field grid mt-5">
    <label for="lastname3" class="col-fixed" style="width:100px">Lastname</label>
    <div class="col">
      <input id="lastname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
    </div>
  </div>

</p-card>

